body {
  overflow-y: scroll;
  color: #abb2bf;
  background: #282c34;
  font-family: Roboto, monospace;
}

ul {
  list-style-type: square;
  list-style-position: outside;
}

a, a:visited, a:active {
  text-decoration: underline;
  color: #3a69e0;
}
a:hover {
  text-decoration: dotted underline;
  color: #5f88f2;
}
a:focus {
  text-decoration: dashed underline;
}
