* {
  padding: 0;
  margin: 0;
  overflow: hidden;
  color: #abb2bf;
  background: #282c34;
  font-family: Roboto, monospace;
}

html, body {
  height: 100vh;
  width: 100vw;
}

.container {
  display: flex;
}

.left,
.right {
  padding: 5px;
  height: calc(99vh - 50px);
  width: 50vw;
  border: 1px solid #abb2bf;
}

.left {
  padding-left: 0px;
}


#input {
  height: calc(98% - 60px);;
  width: 98%;
  border: none;
  resize: none;
  padding: 5px;
  overflow-x: scroll;
  white-space: pre;
  margin-left: 5px;
}

#header {
  padding: 5px;
  font-size: 30px;
  font-family: Roboto, monospace;
}

#controls {
  margin: 0px;
  padding: 0px;
  height: 40px;
  width: 100%;
  padding: 10px;
  display: inline-block;
  border-bottom: 1px solid #abb2bf;
}

#run {
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  background-color: transparent;
  width: 30px;
  text-align: center;
  display: inline-block;
}

#skip {
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  background-color: transparent;
  width: 30px;
  text-align: center;
  display: inline-block;
  opacity: 0.5;
}

#slider {
  line-height: 30px;
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  display: inline-block;
}

#speed {
  position: relative;
  top: 5px;
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  display: inline-block;
}


#title {
  height: 40px;
  padding-left: 5px;
  cursor: pointer;
  white-space: none;
}


.imgu-0 {
  background-image: url(img-0.png);
}

.imgu-1 {
  background-image: url(img-1.png);
}

.imgu-2 {
  background-image: url(img-2.png);
}

.imgu-3 {
  background-image: url(img-3.png);
}

.imgu-4 {
  background-image: url(img-4.png);
}


.imgu-0.imgu-1 {
  background-image: url(img-0+1.png);
}

.imgu-2.imgu-1 {
  background-image: url(img-2+1.png);
}


.imgr-0 {
  transform: rotate(0deg);
}

.imgr-1 {
  transform: rotate(90deg);
}

.imgr-2 {
  transform: rotate(180deg);
}

.imgr-3 {
  transform: rotate(270deg);
}


.title {
  text-align: center;
}

:root {
  --table-size: min(calc(50vw - 35px), calc(100vh - 80px));
  --cell-size: calc(min(calc(50vw - 35px), calc(100vh - 80px)) / 10);
}

table {
  width: var(--table-size);
  height: var(--table-size);
}

tr {
  width: var(--table-size);
  height: var(--cell-size);
}

td, .img {
  width: var(--cell-size);
  height: var(--cell-size);
  max-width: var(--cell-size);
  min-width: var(--cell-size);
  max-height: var(--cell-size);
  min-height: var(--cell-size);
  background-color: #343c47;
  background-size: cover;
}

.ibg {
  background-color: inherit;
}

.itemimg {
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
  min-width: 40px;
  min-height: 40px;
  background-size: cover;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  z-index: 999;
}

.itemimg:hover {
  background-color: #343c47;
}

.itemimg.selected {
  background-color: #555d68;
}

.itembar {
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-size: cover;
  height: 40px;
  width: 260px;
  background-color: #2A313B;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: move;
}

.vhandle {
  position: absolute;
  right: 20px;
  top: 35%;
  display: inline-block;
}

#sidebar {
  font-size: 20px;
  height: 100vh;
  z-index: 999;
  width: 25vw;
  position: absolute;
  top: 0;
  transition: left 0.2s ease-in;
  left: -30vw;
  border-right: 1px solid #555d68;
}

#bartitle {
  padding: 1em;
}

li {
  padding: 0.75em;
  padding-left: 1em;
  background-color: #282c34;
  border-top: 1px solid #555d68;
  cursor: pointer;
}

li:first-child {
  border-top: none;
}

li:hover {
  background-color: #343c47;
}

#sidebar.shown {
transition: left 0.2s ease-out;
  left: 0;
}

#upload {
  display: none;
}
