* {
  padding: 0;
  margin: 0;
  color: inherit;
  background: inherit;
  overflow: hidden;
  font-family: Roboto, monospace;
}

html, body {
  height: 100vh;
  width: 100vw;
  color: #abb2bf;
  background: #282c34;
}

a, a:visited, a:active {
  text-decoration: underline;
  color: #3a69e0;
}
a:hover {
  text-decoration: dotted underline;
  color: #5f88f2;
}
a:focus {
  text-decoration: dashed underline;
}

.container {
  display: flex;
}

.left,
.right {
  padding: 5px;
  height: calc(99vh - 50px);
  width: 50vw;
  border: 1px solid #abb2bf;
}

.left {
  padding-left: 0px;
}


#input {
  height: calc(98% - 60px);;
  width: 98%;
  border: none;
  resize: none;
  padding: 5px;
  overflow-x: scroll;
  white-space: pre;
  margin-left: 5px;
}

#header {
  padding: 5px;
  font-size: 30px;
  font-family: Roboto, monospace;
}

#controls {
  margin: 0px;
  padding: 0px;
  height: 40px;
  width: 100%;
  padding: 10px;
  display: inline-block;
  border-bottom: 1px solid #abb2bf;
}

#run {
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  background-color: transparent;
  width: 30px;
  text-align: center;
  display: inline-block;
}

#skip {
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  background-color: transparent;
  width: 30px;
  text-align: center;
  display: inline-block;
  opacity: 0.5;
}

#slider {
  line-height: 30px;
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  display: inline-block;
}

#speed {
  position: relative;
  top: 5px;
  cursor: pointer;
  background-color: transparent;
  text-align: center;
  display: inline-block;
}


#title {
  height: 40px;
  padding-left: 5px;
  cursor: pointer;
  white-space: none;
}

.imgr-0 {
  transform: rotate(0deg);
}

.imgr-1 {
  transform: rotate(90deg);
}

.imgr-2 {
  transform: rotate(180deg);
}

.imgr-3 {
  transform: rotate(270deg);
}


.title {
  text-align: center;
}

:root {
  --cell-amount: 10;
  --table-size: min(45vw, calc(100vh - 100px));
  --cell-size: calc(min(45vw, calc(100vh - 100px)) / var(--cell-amount));
}

table {
  width: var(--table-size);
  height: var(--table-size);
}

tr {
  width: var(--table-size);
  height: var(--cell-size);
}

td, .img {
  width: var(--cell-size);
  height: var(--cell-size);
  max-width: var(--cell-size);
  min-width: var(--cell-size);
  max-height: var(--cell-size);
  min-height: var(--cell-size);
  background-color: #343c47;
  background-size: cover;
}

.ibg {
  background-color: inherit;
}

.itemimg {
  width: 40px;
  height: 40px;
  max-width: 40px;
  max-height: 40px;
  min-width: 40px;
  min-height: 40px;
  background-size: cover;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  z-index: 999;
}

.itemimg:hover {
  background-color: #343c47;
}

.itemimg.selected {
  background-color: #555d68;
}

.itembar {
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-size: cover;
  height: 40px;
  width: 260px;
  background-color: #2A313B;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  cursor: move;
}

.vhandle {
  position: absolute;
  right: 20px;
  top: 35%;
  display: inline-block;
}

#sidebar {
  font-size: 20px;
  height: 100vh;
  z-index: 999;
  width: 25vw;
  position: absolute;
  top: 0;
  transition: left 0.2s ease-in;
  left: -30vw;
  border-right: 1px solid #555d68;
}

#bartitle {
  padding: 1em;
}

li {
  padding: 0.75em;
  padding-left: 1em;
  background-color: #282c34;
  border-top: 1px solid #555d68;
  cursor: pointer;
}

li:first-child {
  border-top: none;
}

li:hover {
  background-color: #343c47;
}

#sidebar.shown {
transition: left 0.2s ease-out;
  left: 0;
}

#upload-map, #upload-code {
  display: none;
}

.popup.container {
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%, -50%);
  display: block;
  padding: 20px;
  border-radius: 20px;
  background-color: #1a1c20;
  -webkit-box-shadow: 0px 0px 25px 15px rgba(26,28,32,0.5);
  box-shadow: 0px 0px 25px 15px rgba(26,28,32,0.5);
  z-index: 900;
  min-width: min(200px, calc(100vw - 40px));
}
.popup.title {
  font-size: 25px;
  display: block;
  background-color: inherit;
  margin-bottom: 10px;
}
.popup.content {
  white-space: pre-line;
  font-size: 15px;
  display: block;
  background-color: inherit;
  margin-bottom: 5px;
}
.popup.buttons {
  font-size: 15px;
  background-color: inherit;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.popup.buttons > button {
  font-size: 15px;
  background-color: inherit;
  padding: 5px;
  margin-left: 5px;
  border-radius: 5px;
  border-color: #343c47;
  transition: all 0.2s ease-in-out;
  flex: 1;
}
.popup.buttons > button:hover {
  background-color: #555d68;
}
.popup.buttons > button:first-child {
  margin-left: 0px;
}

#cover {
  transition: all 0.5s ease-in-out;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0.3;
  z-index: 800;
  display: none;
}

iframe {
  border: none;
  border-radius: 15px;
  width: 50vw;
  height: 50vh;
}
